/* ------------------ Users table ------------------------- */
.loading{
  width: 100%;
  margin: auto;
}
.userTable {
  /* Table */
  text-align: center;
  border-collapse: separate;
  border-spacing: 0 1em;
  line-height: 2rem;
}

.custom-thead tr th {
  /* Thead */
  background-color: #B08EC9;
  color: #fff;
  padding: 0.9rem 0.9rem;
}

.userTable td {
  /* Every cell */
  border-style: none solid solid none !important;
}

.userTable tr td:first-child,
.custom-thead th:first-child {
  /* First cell in all rows */
  border-top-left-radius: 3rem;
  border-bottom-left-radius: 3rem;
  border-left: solid 0.1rem #B08EC9 !important;
  padding-left: 1rem;
  width: 0 !important;
}

.userTable tr td:last-child,
.custom-thead th:last-child {
  /* Last cell in all rows */
  border-top-right-radius: 3rem;
  border-bottom-right-radius: 3rem;
  border-right: solid 0.1rem #B08EC9 !important;
}

.userTable tr td:last-child {
  padding: 0.5rem 0;
  padding-right: 0.4rem;
}

.userBodyTable tr td {
  /* Every row */
  border-bottom: solid 0.1rem #B08EC9 !important;
  border-top: solid 0.1rem #B08EC9 !important;
  padding: 0.7rem 0;
  height: 30px; /* Fixed height for every row */
}
/* When remove user */
.isRemoved{
  position: absolute;
  top: 15rem;
  left:25rem
}
/* ------------------ Small screens ------------------------- */
@media (max-width: 995px) {
  .userBodyTable tr td {
    /* Every cell */
    font-size: 0.95rem;
    padding: 0.2rem 0;
  }

  .userTable tr td:first-child,
  .custom-thead th:first-child {
    /* First cell in all rows */
    padding-left: 1.3rem !important;
    padding-top: 0.7rem;
  }

  .userTable tr td:last-child div {
    /* Last cell in all rows */
    width: 10rem !important;
    margin-top: 0.5rem;
  }
}

.userScroller{}
/* CSS for styling the scrollbar and removing arrows */
.userScroller {
  height: 20px; /* Set your desired height */
  overflow-y: scroll;
  overflow-x: hidden;
}



/* Webkit-based (Google Chrome, Safari) */
.userScroller::-webkit-scrollbar {
  width: 10px; /* Set the width of the scrollbar */
}

.userScroller::-webkit-scrollbar-thumb {
  background-color: #4f0381; /* Set the color of the thumb */
  border-radius: 5px; /* Set border radius to make it round */
}

.userScroller::-webkit-scrollbar-track {
  background-color: transparent; /* Set the color of the track */
}